@import "../variables/variables.scss";

// Navbar component css.........
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: $layout_color;
    color: $mainText_color;
    border-bottom: 1px solid $itemCover_color;
}

.rightSide{
    margin-left: 1rem;
}

.leftSide{
    margin-right: 1rem;
}

.profileSide{
    list-style: none;
    display: flex;
}

.profileSide > li {
    margin-left: 1rem;
}

.icon{
    margin-top: 8px;
    cursor: pointer;
}

.bell_icon{
    margin-top: 1em;
    margin-right: 2em;
    padding-left: 0;
}

#accountName{
    text-align: start;
    line-height: 0.2;
}

@font-face {
    font-family: "Mulish-black";
    src: url("../assets/mulish-cufonfonts/Mulish-Black.ttf");
}

.account_name{
    font-family: Mulish-black;
}

@font-face {
    font-family: "Mulish-ExtraLight";
    src: url("../assets/mulish-cufonfonts/Mulish-ExtraLight.ttf");
}

.account_type{
    font-family: Mulish-ExtraLight;
    font-size: 12px;
}

.rightSide{
   display: flex;
}

.rightSide a{
    padding-top: 24px;
}

.rightSide h2{
    padding-top: 10px;
    margin-left: 1rem;
}



// Sidebar component css ........

.Sidebar{
    position: absolute;
    background-color: $layout_color;
    z-index: 1 !important;
    width: 110px;
    border-right: 1px solid $itemCover_color;
    height: auto;
    justify-content: space-between;
}

.topSide{
  width: 5rem;
}

.topList{
    margin: 0 !important;
    padding-top: 20px;
    padding-left: 25px;
    text-align: start;
    list-style: none;
}

.topList li{
    cursor: pointer;
    padding: 12px;
    padding-left: 13px;
    margin-top: 10px;
}

.topList li:hover{
    background-color: $active_color;
    border-radius: 6px;
}

.bottomSide {
    bottom: 0;
    width: 5rem;
    margin-top: 2em;
}

.bottomList {
    margin: 0 !important;
    padding-top: 20px;
    padding-left: 25px;
    text-align: start;
    list-style: none;
}

.bottomList li {
    cursor: pointer;
    padding: 12px;
    padding-left: 13px;
}

.bottomList li:hover {
    background-color: $active_color;
    border-radius: 6px;
}

.active {
    border-radius: 6px;
    background-color: $active_color;
    color: $layout_color;
}

.active a {
    background-color: $active_color;
    color: $layout_color;
}

//contentContainer......

// .contentContainer{
//     width: fit-content;
//     margin-left: 250px;
//     z-index: -1;
// }

// Site_Content ......
.container{
    position: absolute;
}

.siteContainer{
    width: auto;
    padding-left: 1rem;
    background-color: $background_color;
    text-align: center;
}

.upperContainer{
    border-radius: 8px;
    width: auto;
    background-color: $layout_color;
}
   
   
 // SearchBar.....
 
 .searchBar{
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: center;
 }
 .searchBar img{
    left: 0;
    cursor: pointer;
    padding-left: 1em;
    border: none;
    background-color: $background_color;
    border-radius: 8px 0px 0px 8px;
 }

 @font-face {
    font-family: 'Mulish-Light';
    src: url('../assets/mulish-cufonfonts/Mulish-Light.ttf');
 }

 .searchBar input{
    padding: 0.8em;
    padding-left: 0.4em;
    border: none;
    font-family: Mulish-Light;
    color: $secondaryText_color;
    background-color: $background_color;
    border-radius: 0px 8px 8px 0px;
    width: 90%;

 }
 ::-webkit-input-placeholder {
     /* Chrome/Opera/Safari */
     color: $secondaryText_color;
 }

 ::-moz-placeholder {
     /* Firefox 19+ */
     color: $secondaryText_color;
 }

 :-ms-input-placeholder {
     /* IE 10+ */
     color: $secondaryText_color;
 }

 :-moz-placeholder {
     /* Firefox 18- */
     color: $secondaryText_color;
 }

 .searchBar input:focus{
    outline: none;
 }


 // SelectTab......
 // mainContainer........
  
.mainContaner {
    text-align: start;
    padding-left: 1em;
    padding-bottom: 1em;
}

/*# sourceMappingURL=style.css.map */

.contentContainer {
    width: auto;
    padding: 2rem;
    padding-left: 8rem;
    background-color: $background_color;
    text-align: center;
}

.profileShow {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.aiMenu {
    z-index: 2;
    display: none;
    cursor: pointer;
    position: absolute;
}

@media screen and (max-width: 899px) {

    .contentContainer {
           padding: 0;
           padding-top: 2rem;
        }
        .siteContainer{
            padding: 0;
        }

    .aiMenu {
        display: block;
    }
}

@media screen and (max-width: 471px) {
    .bell_icon {
        margin-right: 1em;
    }

    .profileShow {
        display: block;
        width: auto;
    }
}

/* animation css ...*/


.slide-fwd-right {
    -webkit-animation: slide-fwd-right 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-right 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-8-26 13:55:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-right {
    0% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
    }

    100% {
        -webkit-transform: translateZ(160px) translateX(20px);
        transform: translateZ(160px) translateX(20px);
    }
}

@keyframes slide-fwd-right {
    0% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
    }

    100% {
        -webkit-transform: translateZ(160px) translateX(20px);
        transform: translateZ(160px) translateX(20px);
    }
}



.changeColor {
    color: $secondaryText_color;
    font-size: 1.5em;
}

.changeColor:hover {
    color: $layout_color;
    font-size: 1.5em;
}
