.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #11142D;
  border-bottom: 1px solid #E2E2EA;
}

.rightSide {
  margin-left: 1rem;
}

.leftSide {
  margin-right: 1rem;
}

.profileSide {
  list-style: none;
  display: flex;
}

.profileSide > li {
  margin-left: 1rem;
}

.icon {
  padding-top: 8px;
  cursor: pointer;
}

.bell_icon {
  padding-top: 1em;
  padding-right: 1em;
  margin-right: 2em;
  padding-left: 0;
}

#accountName {
  text-align: start;
  line-height: 0.2;
}

@font-face {
  font-family: "Mulish-black";
  src: url("../assets/mulish-cufonfonts/Mulish-Black.ttf");
}
.account_name {
  font-family: Mulish-black;
}

@font-face {
  font-family: "Mulish-ExtraLight";
  src: url("../assets/mulish-cufonfonts/Mulish-ExtraLight.ttf");
}
.account_type {
  font-family: Mulish-ExtraLight;
  font-size: 12px;
}

.rightSide {
  display: flex;
}

.rightSide a {
  padding-top: 24px;
}

.rightSide h2 {
  padding-top: 10px;
  margin-left: 1rem;
}

.Sidebar {
  position: absolute;
  background-color: white;
  z-index: 1 !important;
  width: 110px;
  border-right: 1px solid #E2E2EA;
  height: auto;
  justify-content: space-between;
}

.expandSidbar{
  display: none;
}

.topSide {
  width: 5rem;
}

.topList {
  margin: 0 !important;
  padding-top: 20px;
  padding-left: 25px;
  text-align: start;
  list-style: none;
}

.topList li {
  cursor: pointer;
  padding: 12px;
  padding-left: 13px;
}

.topList li:hover {
  background-color: #5541D7;
  border-radius: 6px;
}

.bottomSide {
  bottom: 0;
  width: 5rem;
  margin-top: 2em;
}

.bottomList {
  margin: 0 !important;
  padding-top: 20px;
  padding-left: 25px;
  text-align: start;
  list-style: none;
}

.bottomList li {
  cursor: pointer;
  padding: 12px;
  padding-left: 13px;
}

.bottomList li:hover {
  background-color: #5541D7;
  border-radius: 6px;
}

.active {
  border-radius: 6px;
  background-color: #5541D7;
  color: white;
}

.active a {
  background-color: #5541D7;
  color: white;
}

.container {
  position: absolute;
}

.siteContainer {
  width: auto;
  padding: 2rem;
  background-color: #F7F7FC;
  text-align: center;
}

.upperContainer {
  border-radius: 8px;
  width: auto;
  background-color: white;
}

.searchBar {
  width: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

.searchBar img {
  left: 0;
  cursor: pointer;
  padding-left: 1em;
  border: none;
  background-color: #F7F7FC;
  border-radius: 8px 0px 0px 8px;
}

@font-face {
  font-family: "Mulish-Light";
  src: url("../assets/mulish-cufonfonts/Mulish-Light.ttf");
}
.searchBar input {
  padding: 0.8em;
  padding-left: 0.4em;
  border: none;
  font-family: Mulish-Light;
  color: #92929D;
  background-color: #F7F7FC;
  border-radius: 0px 8px 8px 0px;
  width: 90%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #92929D;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #92929D;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #92929D;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #92929D;
}

.searchBar input:focus {
  outline: none;
}

.mainContaner {
  text-align: start;
  padding-left: 1em;
  padding-bottom: 1em;
}/*# sourceMappingURL=style.css.map */

.contentContainer{
  width: auto;
    padding: 2rem;
    padding-left: 9rem;
    background-color: #F7F7FC;
    text-align: center;
}

.profileShow{
 display: flex;
 justify-content: space-between;
 width: 120px;
}

.aiMenu{
  z-index: 2;
  display: none;
  position: absolute;
}
@media screen and (max-width: 899px) {

  .contentContainer{
  width: auto;
    padding: 0;
    margin: 0;
    background-color: #F7F7FC;
    text-align: center;
  }
    .aiMenu {
      display: block;
    }
}

@media screen and (max-width: 471px) {
  .bell_icon{
    margin-right: 0;
  }
  .profileShow{
    display: block;
    width: auto;
  }
}
